#For Automat-LLM
langchain_huggingface
langchain_community
langchain
transformers
pydantic
langchain_core
weaviate-client<5
faiss-cpu
numpy
groq
langchain_groq
dia
#accelerate
#faiss-gpu
#playsound

#For automat-server
fastapi 
asyncio
uvicorn
uuid
